@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;

  --header-color: rgb(189, 18, 18);
  --background: #f4f4f4;
  --footer-color: #171717;
  --tittle-color: #ffc222;
  --ancora-color: rebeccapurple;
  --paragrafo-color: rgb(255, 255, 255);
  --button-color: rgb(87, 206, 87);
  --disable-color: grey;
}

html {
  width: 100%;
  height: auto;

  scroll-behavior: smooth;
}
/* Config Pag */
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}
/* Header */
header {
 width: 100%;
 height: auto;
}

#container_header{
  height: 5vh;
  width: 100%;
  background-color: #191919;
  padding: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

header nav {
  display: none;
}

#title_nav{
  color: var(--tittle-color);
  text-align: right;
  width: 30%;
  font-size: 1.2rem
}

header nav ul {
  display: flex;

  gap: 20px;
}
nav ul li a {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

  color: #e5e5e5;
}

/* Menu toggle mobile */

.one,
.two,
.three {
  background-color: #000;
  height: 4px;
  width: 100%;
}

.menu-toggle {
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
/* logo header */
header div img {
  height: 5vh;
}

/* index */

/* Banner Index */
#banner {
  margin-top: 60px;
  width: 100%;
  height: 100vh;
  background-image: url(https://cdn-ajfbi.nitrocdn.com/GuYcnotRkcKfJXshTEEKnCZTOtUwxDnm/assets/static/optimized/rev-7a13f84/blackfish-uploads/blog/post/seo/og_image_file/og_image/15493/0712-Bad_Practices_in_Database_Design_-_Are_You_Making_These_Mistakes_Dan_Social-754bc73011e057dc76e55a44a954e0c3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  color: white;
  text-align: center;
  padding: 10px;
}

#banner div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#banner h2 {
  align-self: flex-start;
  font-size: 3rem;
  color: var(--tittle-color);
}

#banner p {
  font-size: 1.5rem;
}

#banner button {
  width: 322px;
  height: 71px;

  font-size: 2rem;

  border-radius: 10px;
  border: solid var(--tittle-color) 2px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/* content */

#content {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#content h3 {
  font-size: 3rem;
}

/* content cards */

#content h3 {
  color: var(--tittle-color);
}

.container-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  border-radius: 10px;
  width: 350px;
  height: 717.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;

  background-color: var(--background);
}

.img-card {
  width: 100%;
  height: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card h4 {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 20px;
  color: #000;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
}

.card p {
  height: 152rem;
  padding: 10px;
}
.card button {
  width: 335px;
  height: 59.3px;
  border-radius: 10px;

  font-size: 1.1rem;

  color: white;
  background-color: var(--button-color);
  border: none;
}

.card button:disabled {
  background-color: var(--disable-color);

  cursor: not-allowed;
}

.card button a:disabled {
  cursor: not-allowed;
}

.destaq {
  color: red;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}

/* login */
.login {
  margin-top: 60px;
  height: 95vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  background-image: url(../img/header/viloes.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.login form {
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  background-color: var(--background);
  padding: 40px;
  border-radius: 40px;
}

#logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__form {
  width: 33vw;
  height: 85px;
}

.login form div {
  width: 100%;
  height: 80px;
}

.login input {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  border: solid 1px;
  padding: 10px;

  font-size: 1rem;
}

#btn {
  width: 100%;
  height: 70px;

  border-radius: 10px;
  border: solid var(--button-color) 3px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  font-size: 2rem;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
  background-color: var(--footer-color);
  padding: 20px;
}

.conteiner-integrants {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding: 20px;

  color: var(--paragrafo-color);
}

.content-integrants h3 {
  font-size: 1.5rem;
  color: white;
}

.content-integrants p a {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.content-integrants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.content-integrants div {
  display: flex;
  gap: 16px;
}

footer div {
  font-size: 1.5rem;
  color: white;
  padding: 20px;
  text-align: center;
}
